.ULI-img {
  border: 1.5px dashed #e1e1e1;
  position: relative;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  width: 100%;
  height: 113px;
  
}
.ULI-iconButton{
  position: absolute;
  bottom: 15%;
  right:25%;
}
