.ULI-img {
  border: 1.5px dashed #e1e1e1;
  position: relative;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  width: 110px;
  height: 110px;
  
}
.ULI-iconButton{
  position: absolute;
  bottom: 12%;
  right:20%;
}
