.s-p1 {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 44px;
  /* identical to box height, or 157% */

  /* text dark */

  color: #222222;
}
